@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500:800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;200;500&display=swap");
body,
html {
  padding: 0;
  margin: 0;
  color: #fff;
}

p,
ul {
  margin: 0;
}

.header {
  background-color: #1b1b1e;
  padding: 0 1rem;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
}

.header p {
  font-family: "Playfair Display", serif;
  font-weight: 800;
  font-size: 2rem;
  margin: 0;
}

.header ul {
  list-style: none;
  margin: 0;
}

.header .li-style {
  padding-right: 1rem;
}

.header a {
  text-decoration: none;
  color: #fff;
}

.number {
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-size: 50px;
  font-style: normal;
  line-height: 75px;
  opacity: 0.2;
  padding-top: 5rem;
}

.tiny-intro {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 18px;
}

.main-intro {
  font-family: "Playfair Display", serif;
  font-style: normal;
  font-weight: normal;
  font-size: 50px;
  line-height: 100%;
}

.dot {
  position: absolute;
  width: 50px;
  height: 50px;
  left: 255px;
  top: 139px;
  background-color: #db4747;
  border-radius: 50%;
  display: inline-block;
}

.works {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  color: #db4747;
}

hr {
  width: 70px;
  height: 1px;
  background-color: #fff;
  border: none;
  margin: 20px 0;
  opacity: 1;
}

.btn-color {
  background-color: #db4747;
  color: #fff;
}

.group-line {
  position: relative;
}

.group-line .line1, .group-line .line2, .group-line .line3 {
  position: absolute;
  width: 0;
  height: 3092px;
  top: 0;
  opacity: 0.05;
  border: 1px solid #fff;
}

.group-line .line1 {
  left: 16px;
}

.group-line .line2 {
  left: 304px;
}

.group-line .line3 {
  left: 160px;
}

.intro {
  background-color: #1b1b1e;
  padding: 0 1rem;
}

.intro .icons {
  font-size: 24px;
  margin-bottom: 35px;
}

.portfolio {
  background-color: #212123;
}

.portfolio .card .card-title {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
  line-height: 80%;
  margin-bottom: 1rem;
}

.portfolio .card a {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
}

.portfolio .card .btn-color {
  width: 70%;
  padding: 10px;
}

.portfolio .lang {
  width: 84px;
  height: 30px;
  background: rgba(0, 0, 0, 0.5);
}

.portfolio .lang p {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 10px;
  line-height: 80%;
  padding: 9px;
}

.portfolio .shopping-list {
  width: 100%;
  height: 100%;
  background: -webkit-gradient(linear, left top, left bottom, from(#000), color-stop(48.44%, rgba(0, 0, 0, 0)), to(#000));
  background: linear-gradient(180deg, #000 0%, rgba(0, 0, 0, 0) 48.44%, #000 100%);
  background-size: cover;
  background-position: center;
  border: 0.33333px solid rgba(255, 255, 255, 0.1);
}

.about {
  background-color: #1b1b1e;
  padding: 0 1rem;
}

.about .resume {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
}

.about .icons {
  font-size: 20px;
  position: absolute;
}

.about .skill-circle {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  opacity: 0.2;
  text-align: center;
}

.about .skills {
  background-color: #212123;
  margin: 0 1.5rem 1.5rem 1.5rem;
  padding: 24px;
  position: relative;
}

.about .skills .skill-lang {
  background-color: #22b07d;
}

.about .skills .skill-frame {
  background-color: #376aed;
}

.about .skills .skill-git {
  background-color: #f19d2a;
}

.about .skills .skill-soft {
  background-color: #db4747;
}

.about .skills .fa-hashtag {
  top: 35px;
  left: 35px;
  color: #22b07d;
}

.about .skills .fa-project-diagram {
  top: 37px;
  left: 32px;
  color: #376aed;
}

.about .skills .fa-lightbulb {
  top: 34px;
  left: 37px;
  color: #f19d2a;
}

.about .skills .fa-heart {
  top: 36px;
  left: 34px;
  color: #db4747;
}

.about .skills p {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 18px;
}

.about .skills ul {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  letter-spacing: -0.0525em;
  color: #7d7c84;
  padding-left: 14px;
}

.about .btn-color {
  width: 288px;
  height: 44px;
  padding: 10px 58px;
}

.chat {
  background-color: #212123;
  padding: 0 1rem;
}

.chat .number {
  padding-top: 24px;
}

.chat .form {
  background-color: #101010;
  width: 288px;
  height: 52px;
}

.chat .form label {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  line-height: 15px;
  padding-left: 16px;
  color: #7d7c84;
}

.chat .form input,
.chat .form textarea {
  background-color: #101010;
  width: 100%;
  border-width: 0;
  border: none;
  outline: none;
  color: #fff;
  padding-left: 16px;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
}

.chat .start {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  margin-bottom: 106px;
}

.chat .btn-color {
  width: 288px;
  height: 44px;
  padding: 10px 58px;
}

.footer {
  background-color: #212123;
  padding: 0 1rem;
}

.footer .icons {
  font-size: 24px;
  padding-bottom: 38px;
}

.footer .dash {
  border: 1px solid rgba(255, 255, 255, 0.1);
  width: 288px;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  margin-bottom: 20px;
}

.footer .resume {
  text-decoration: none;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #db4747;
}

.footer .resume .fas {
  font-size: 22px;
}

.footer .link {
  margin-bottom: 30px;
}

@media screen and (min-width: 768px) {
  .header .li-style {
    padding-right: 2.5rem;
  }
  .dot {
    width: 94px;
    height: 94px;
    left: 417px;
    top: 120px;
  }
  .min-intro {
    width: 730px;
    margin: 0 auto;
  }
  .chat .dot {
    width: 94px;
    height: 94px;
    left: 417px;
    top: 4650px;
  }
}
/*# sourceMappingURL=style.css.map */