@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500:800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;200;500&display=swap');

body,
html {
  padding: 0;
  margin: 0;
  color: #fff;
}

p,
ul {
  margin: 0;
}

$font-family-poppins: 'Poppins', sans-serif;
$font-family-playfair: 'Playfair Display', serif;
$font-family-roboto: 'Roboto', sans-serif;

$bg-black: #1b1b1e;
$bg-dark: #212123;
$bg-darker: #101010;
$white: #fff;
$main-color: #db4747;
$green: #22b07d;
$blue: #376aed;
$yellow: #f19d2a;
$gray: #7d7c84;


$main-padding: 1rem;

.header {
  background-color: $bg-black;
  padding: 0 $main-padding;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;

  p {
    font-family: $font-family-playfair;
    font-weight: 800;
    font-size: 2rem;
    margin: 0;
  }

  ul {
    list-style: none;
    margin: 0;
  }

  .li-style {
    padding-right: 1rem;
  }

  a {
    text-decoration: none;
    color: $white;
  }
}

.number {
  font-family: $font-family-poppins;
  font-weight: 100;
  font-size: 50px;
  font-style: normal;
  line-height: 75px;
  opacity: 0.2;
  padding-top: 5rem;
}

.tiny-intro {
  font-family: $font-family-poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 18px;
}

.main-intro {
  font-family: $font-family-playfair;
  font-style: normal;
  font-weight: normal;
  font-size: 50px;
  line-height: 100%;
}

.dot {
  position: absolute;
  width: 50px;
  height: 50px;
  left: 255px;
  top: 139px;
  background-color: $main-color;
  border-radius: 50%;
  display: inline-block;
}

.works {
  font-family: $font-family-roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  color: $main-color;
}

hr {
  width: 70px;
  height: 1px;
  background-color: $white;
  border: none;
  margin: 20px 0;
  opacity: 1;
}

.btn-color {
  background-color: $main-color;
  color: $white;
}

.group-line {
  position: relative;

  %line {
    position: absolute;
    width: 0;
    height: 3092px;
    top: 0;
    opacity: 0.05;
    border: 1px solid $white;
  }

  .line1 {
    @extend %line;

    left: 16px;
  }

  .line2 {
    @extend %line;

    left: 304px;
  }

  .line3 {
    @extend %line;

    left: 160px;
  }
}

.intro {
  background-color: $bg-black;
  padding: 0 $main-padding;

  .icons {
    font-size: 24px;
    margin-bottom: 35px;
  }
}

.portfolio {
  background-color: $bg-dark;
  // padding: 0 $main-padding;

  .card {
    .card-title {
      font-family: $font-family-poppins;
      font-style: normal;
      font-weight: 300;
      font-size: 20px;
      line-height: 80%;
      margin-bottom: 1rem;
    }

    a {
      font-family: $font-family-poppins;
      font-style: normal;
      font-weight: 500;
      font-size: 16px;
      line-height: 24px;
      text-align: center;
    }

    .btn-color {
      width: 70%;
      padding: 10px;
    }
  }

  .lang {
    width: 84px;
    height: 30px;
    background: rgba(0, 0, 0, 0.5);

    p {
      font-family: $font-family-poppins;
      font-style: normal;
      font-weight: 300;
      font-size: 10px;
      line-height: 80%;
      padding: 9px;
    }
  }

  .shopping-list {
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, #000 0%, rgba(0, 0, 0, 0) 48.44%, #000 100%);
    background-size: cover;
    background-position: center;
    border: 0.333333px solid rgba(255, 255, 255, 0.1);
  }
}

.about {
  background-color: $bg-black;
  padding: 0 $main-padding;

  .resume {
    font-family: $font-family-poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
  }

  .icons {
    font-size: 20px;
    position: absolute;
  }
  
  .skill-circle {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    opacity: 0.2;
    text-align: center;
  }

  .skills {
    background-color: $bg-dark;
    margin: 0 1.5rem 1.5rem 1.5rem;
    padding: 24px;
    position: relative;

    .skill-lang {
      background-color: $green;
    }

    .skill-frame {
      background-color: $blue;
    }

    .skill-git {
      background-color: $yellow;
    }
    
    .skill-soft {
      background-color: $main-color;
    }

    .fa-hashtag {
      top: 35px;
      left: 35px;
      color: $green;
    }
  
    .fa-project-diagram {
      top: 37px;
      left: 32px;
      color: $blue;
    }
  
    .fa-lightbulb {
      top: 34px;
      left: 37px;
      color: $yellow;
    }
  
    .fa-heart {
      top: 36px;
      left: 34px;
      color: $main-color;
    }

    p {
      font-family: $font-family-poppins;
      font-style: normal;
      font-weight: bold;
      font-size: 16px;
      line-height: 24px;
      margin-bottom: 18px;
    }

    ul {
      font-family: $font-family-poppins;
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 21px;
      letter-spacing: -0.0525em;
      color: $gray;
      padding-left: 14px;
    }
  }

  .btn-color {
    width: 288px;
    height: 44px;
    padding: 10px 58px;
  }

}

.chat {
  background-color: $bg-dark;
  padding: 0 $main-padding;

  .number {
    padding-top: 24px;
  }

  .form {
    background-color: $bg-darker;
    width: 288px;
    height: 52px;

    label {
      font-family: $font-family-poppins;
      font-style: normal;
      font-weight: normal;
      font-size: 10px;
      line-height: 15px;
      padding-left: 16px;
      color: $gray;
    }

    input,
    textarea {
      background-color: $bg-darker;
      width: 100%;
      border-width: 0;
      border: none;
      outline: none;
      color: $white;
      padding-left: 16px;
      font-family: $font-family-poppins;
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 21px;
    }
  }

  .start {
    font-family: $font-family-poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    margin-bottom: 106px;
  }

  .btn-color {
    width: 288px;
    height: 44px;
    padding: 10px 58px;
  }
}

.footer {
  background-color: $bg-dark;
  padding: 0 $main-padding;

  .icons {
    font-size: 24px;
    padding-bottom: 38px;
  }

  .dash {
    border: 1px solid rgba(255, 255, 255, 0.1);
    width: 288px;
    transform: rotate(180deg);
    margin-bottom: 20px;
  }

  .resume {
    text-decoration: none;
    font-family: $font-family-poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: $main-color;

    .fas {
      font-size: 22px;
    }
  }

  .link {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 768px) {
  .header {
    .li-style {
      padding-right: 2.5rem;
    }
  }

  .dot {
    width: 94px;
    height: 94px;
    left: 417px;
    top: 120px;
  }

  .min-intro {
    width: 730px;
    margin: 0 auto;
  }

  .chat {
    .dot {
      width: 94px;
      height: 94px;
      left: 417px;
      top: 4650px;
    }
  }
}
